//
// PrestaCMS Core blocks styles
// --------------------------------------------------

.cms-block {
    clear: both;

    .link {
        float: right;
        a {
            color: @cyan;
            padding-left: 5px;
            margin-right: 35px;

            &:before {
                content: '\00bb';
                color: @cyan;
                padding-right: 2px;
            }
        }
    }
    .content {
        text-align: justify;
    }
}

.cms-block.info {
    background-color:   #D9EDF7;
    border:             1px solid #FBEED5;
    border-color:       #BCE8F1;
    border-radius:      4px;
    color:              #3A87AD;
    padding:            15px 35px 15px 20px;

    h2 {
        color:              #3A87AD;
    }
}

.cms-block.headline {
    background-color:   #FAFAFA;
    border:             1px solid #DDDDDD;
    box-shadow:         0px 1px 1px 0px rgba(180,180,180,0.1);
    padding:            32px;
}


//
// Medias
// -------------------------
.cms-gallery-container {
    text-align: justify;
    a {
        &:hover {
            text-decoration: none;
        }
        img {
            background: #ececec;
            margin: 5px;
            padding: 5px;
            border: solid 1px #EFEFEF;
            .box-shadow(0 13px 5px -10px #AAA);

            &:hover {
                opacity: 0.8;
            }
        }
    }
}